/*
* Resume template
* Created by : Ahmed Essa
* website : www.ahmedessa.net
*/


/* Table of Content
==================================================
	- Google fonts & font family -
	- typography -
	- General -
    - Preloader -
	- Header -
    - home section -
    - About section -
    - experience section -
    - projects section -
    - Contact section -
    - Responsive media queries -
*/


/* Google fonts & font family
==================================================*/

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/


/* typography
==================================================*/

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    line-height: 70px;
}

h4 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: #425BB5;
    margin-left: 40px;
    font-weight: 700;
}

h4:before {
    position: absolute;
    width: 30px;
    left: -40px;
    content: "";
    display: block;
    height: 2px;
    background: #425BB5;
    top: 9px;
}


/* General
==================================================*/

body {
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    line-height: 24px;
}

.size-50 {
    font-family: 'SF_HambakSnow';
    font-size: 36px;
    line-height: 50px;
    color: #190B0C;
}

.h-50 {
    height: 40px;
}

.color {
    color: #F45F30;
}

/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000
}

#status,
.preloader {
    top: 50%;
    left: 50%;
    position: absolute
}

#status {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px
}

.preloader {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 2px solid #425BB5;
    border-top: 2px solid transparent;
    border-radius: 100%
}

.preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate
}

@media only screen and (min-width:768px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }

    .preloader:before {
        left: -2px;
        top: -2px;
        border-width: 2px
    }

    .preloader>.icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px
    }
}

@media only screen and (min-width:1200px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }

    .preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes wink {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


/* Header
==================================================*/

header {
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}

nav ul {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 20px 0;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;
    font-size: 11px;
    font-weight: bold;
}

.bg-nav {
    background: #fff;
    border-bottom: 1px solid #f3f3f3
}

.bg-nav ul {
    padding: 10px 0;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #F45F30;
    text-decoration: none;
}

a.active {
    color: #F45F30;
}


/* home section
==================================================*/

.home {
    width: 100%;
    display: block;
}

.home_m {
    display: none;
}

/* about section
==================================================*/

#about {
    padding: 100px 0;
}

.about-img-div {
    margin-top: 30px;
    position: relative;
}

.star1{
    position: absolute;
    top: 5px;
    left: -60px;
    width: 50px;
}

.star2{
position: absolute;
right: 100px;
width: 50px;
}


.about-img-div img {
    /* margin: 0 auto; */
}

.img-responsive{
border: 1px solid #ccc;
}

.col-md-8{
    margin-top: 35px;
}

.col-md-8 h3{
    font-size: 26px;
    font-weight: bold;
    line-height: 35px;
}


/* projects section
==================================================*/

#projects {
    padding: 100px 0;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #666;
    font-size: 20px;
    border-top: 1px solid #fff;
}

.portfolio-inner {
    padding-bottom: 0 !important;
}

/* sns section
==================================================*/
#sns {
    padding: 100px 0;
}

.sns_in img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

/* artwork section
==================================================*/
#artwork {
    padding: 100px 0;
    background: #fef1de;
}

.artwork_in img {
    width: 100%;
}

.artwork_in a {
    color: #333;
}

.artwork_in a:hover {
    color: #F45F30;
}

/* popup section
==================================================*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
}

.popup i {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 50px;
    color: #fff;
}

/* 팝업 크기 구간 */
.popup_in {
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    max-width: 800px;
}

.popup_in>img,
.popup_in .artwork_slide {
    width: 60%;
}

.artwork_slide {
    overflow: hidden;
    position: relative;
}

.artwork_slide img {
    width: 100%;
}

.artwork_slide .swiper-pagination-bullet {
    background-color: #fff;
}

.popup_in ul {
    margin: 0;
    padding: 30px;
    width: 40%;
    box-sizing: border-box;
    background-color: #fff;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup h5 {
    font-size: 20px;
    padding-bottom: 10px;
}

.popup p {
    margin-bottom: 0;
}

.popup i {
    cursor: pointer;
}

/* experience section
==================================================*/

#experience {
    padding: 100px 0;
    background: url(../img/bgimg2.png) no-repeat 1000px 350px;
}


.experience-row {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.experience-row h3 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #FF961E;
    font-size: 16px;
    font-weight: bold
}

.experience-row p {
    color: #888;
    margin-top: 20px;
    font-size: 15px;
}

.experience-row .date {
    color: #000;
    font-size: 17px;
}

.timeline {
    padding-left: 0;
    list-style: none;
    position: relative;
}

.timeline:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
}

.timeline-event:hover .timeline-event-icon {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #FF961E;
}

.timeline-event:hover .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 #FF961E;
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: calc(100% - 4em);
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #FF961E;
    outline: 10px solid #f3f3f3;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #999;
    box-shadow: inset 0 0 0 0em #FF961E;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}



/* skill section
==================================================*/
#skill {
    padding: 100px 0;
}

.chart {
    width: 100%;
    text-align: center;
    position: relative;
}

.chart canvas {
    width: 100% !important;
    height: 100% !important;
}

.chart span.title {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.chart span.title b {
    font-size: 20px;
}

/* contact
==================================================*/

#contact {
    padding: 100px 0;
    background: #fef1de;
}

.contact_in {
    text-align: center;
}

.contact_in i {
    font-size: 35px;
}




/* Responsive media queries
==================================================*/
@media (max-width: 1200px) {
    .skill_in {
        gap: 20px 0;
    }

    .skill_in>div {
        width: 49%;
    }

    .star1 {
        display: none;
    }

    .star2{
        display: none;
    }

}


@media (max-width: 768px) {
    .home {
        display: none;
    }

    .home_m {
        display: block;
        width: 100%;
    }

    .popup_in {
        display: block;
        max-width: 350px;
    }

    .popup_in>img,
    .popup_in .artwork_slide,
    .popup ul {
        width: 100%;
    }

    .popup ul li:nth-child(1) {
        padding-bottom: 10px;
    }

    .skill_in {
        gap: 10px 0;
    }

    .skill_in>div {
        width: 100%;
    }

    .timeline-event-copy {
        width: 90%;
        left: 2em;
    }
}

@media (max-width: 520px) {
    header {
        display: none;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        line-height: 50px;
    }

    .about-border {
        width: calc(90% - 50px);
    }
}

@media (max-width: 420px) {
    nav li {
        margin: 6px;
    }

    nav li a {
        font-size: 10px;
    }
}

@media screen and (max-width: 374px) {
    .popup ul {
        padding: 20px;
    }
}